{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 4 versions",
                        "last 6 Chrome versions",
                        "not ie <= 10",
                        "ios >= 9"
                    ]
                }
            }
        ],
        "stage-3"
    ],
    "plugins": [
        "transform-runtime",
        "dynamic-import-node"
    ],
    "env": {
        "test": {
            "presets": [
                "env",
                "stage-3"
            ],
            "plugins": [
                "external-helpers",
                "transform-es2015-modules-commonjs"
            ]
        }
    }
}
