{% load staticfiles %}
<footer class="ba-footer">
    <div class="ba-footer-main-content">
        <div class="ba-footer-logo">
            <a href="http://www.fso.arizona.edu">
                <img alt="Financial Services Office"
                     src="{% static 'images/UA_FSO_Alternate.svg' %}">
            </a>
        </div>
        <div class="ba-footer-links">
            <a href="http://portal.fso.arizona.edu/about">About</a>
            <a href="http://portal.fso.arizona.edu">Portal</a>
            <a href="http://ubet.arizona.edu/business-calendar?tid[0]=25">FSO Calendar</a>
            <a href="http://www.arizona.edu/information-security-privacy">Security &amp; Privacy</a>
            <a href="http://www.arizona.edu/copyright">Copyright</a>
        </div>
    </div>
    <hr class="hr-dark"/>
        <div class="ba-footer-secondary-content">
            <p>Copyright 2018 © Arizona Board of Regents</p>
            <p class="divider">|</p>
            <p>FSO Information Technology</p>
            <p class="divider">|</p>
            <p>Need help? <a href="mailto:support@fso.arizona.edu?subject=specialhandling support request">Contact us!</a></p>
        </div>
</footer>
