{% extends "base.html" %}
{% load staticfiles %}
{% block title %}500: Server Error{% endblock %}
{% block content %}
<div class="error-page">
    <video id="background" preload="auto" autoplay="true" loop="loop" muted="muted">
        <source src="{% static 'images/it_crowd_fire.mp4' %}" type="video/mp4">
        Sorry, your browser does not support HTML5 video.
    </video>
    <div class="error-container">
        <h1 class="display-1">500</h1>
        <h2 class="mt-8">Oh dear, something went horribly wrong!</h2>
        <p class="lead">An error report has been generated. You may want to head back to the homepage and try again.</p>
        <a role="button" class="btn btn-uared btn-md" aria-pressed="true"
           href="http://specialhandling.fso.arizona.edu">Return Home</a>
    </div>
</div>
{% endblock content %}
